@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  height: 100vh;
  background: var(--background-color);
  font-family: var(--text);
  color: var(--text-color);
  font-size: 100%;
  /* position: relative; */
}

:root {
  --main-color: #2e294e;
  --yellow-choco: #f5a72d;
  --dark-yellow-choco: #a66203;
  --choco-shade: linear-gradient(
    180deg,
    #f5a72d 0%,
    #e49a26 43.23%,
    #a66203 96.35%,
    #a66203 99.97%,
    rgba(189, 118, 15, 0.722453) 99.98%,
    rgba(245, 167, 45, 0.03125) 99.99%,
    #a66203 100%
  );
  --background-color: linear-gradient(180deg, #2e294e 0%, #43397d 100%);
  --text-color: #e9e9e9;

  --main-title: "Lobster", cursive;
  --text: "Poppins", sans-serif;
}

h1 {
  font-family: var(--main-title);
  font-size: 3em;
  color: var(--main-color);
}

h2 {
  font-family: var(--main-title);
  font-size: 3.5em;
  padding: 30px;
  color: var(--text-color);
}

p {
  font-size: 1em;
  color: var(--text-color);
}

/************** NAVBAR ******************************/

navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background: var(--choco-shade);
  padding: 5px 10px;
  overflow: hidden;
}

navbar .logo img {
  height: 40px;
}

navbar .help {
  all: unset;
  cursor: pointer;
  background: var(--main-color);
  border: 0;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  color: var(--yellow-choco);
  font-family: var(--main-title);
  font-size: 1.8em;
  transition: 300ms;
  text-align: center;
}

navbar .help:hover {
  background: var(--choco-shade);
  color: var(--main-color);
}

#popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 90;
  display: none;
  animation: fadeIn 1s;
}

#popup-overlay.open {
  display: block;
}

.popup-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: 70vw;
  height: 80vh;
  background: var(--main-color);
  border-radius: 6px;
  position: absolute;
  z-index: 100;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -18%);
}

.popup-content p {
  font-family: var(--text);
  color: var(--yellow-choco);
  font-size: 1rem;
  margin: 30px;
  line-height: 2;
}

  .popup-content h3{
    font-family: var(--main-title);
    font-size: 2.5em;
    margin: 5px;
  }
  
  .popup-content h4 {
    text-align: center;
    font-family: var(--text);
    color: var(--yellow-choco);
    font-size: 2rem;
    margin: 5px;
  }
  
  .popup-exit {
    text-decoration: none;
    font-family: var(--text);
    font-size: 2em;
    color: var(--yellow-choco);
    position: absolute;
    right: 13px;
    top: 0px;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
.container{
  display: flex;
  flex-direction: column;
  justify-content:center ;
}

/*************** SECTION WINDOW *******************************/

.window {
  /* height: 45vh; */
  display: flex;
  flex-direction: column;
  align-items: center;

}

.window .bakery {
  font-family: var(--main-title);
  font-size: 3em;
  color: var(--text-color);
  /* width: 80vw; */
  text-align: center;
  margin-top: 0.75em;
  cursor: pointer;

}

.window .bakery:hover {
  color: var(--yellow-choco);
  text-shadow: var(--yellow-choco) 0px 0px 44px;
}

#compteur {
  font-family: var(--main-title);
  font-size: 2em;
  color: var(--dark-yellow-choco);
  text-align: center;
}

.window #clic {
  padding: 0;
  background: none;
  border: none;
  margin: auto;
  cursor: pointer;
}

#clic img {
  width: 10em;
  height: 10em;
  object-fit: contain; 
}

/**************************** PROMPT ****************************/

.prompt {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  justify-content: center;
  z-index: 999;
  height: 150px;
  width: 80vw;
  border-radius: 15px;
  gap: 10px;
  background: var(--main-color);
  animation: fadeIn 1s;
}

.invisible {
  display: none;
}

.prompt #questionBlock {
  text-align: center;
  background: var(--choco-shade);
  font-family: var(--text);
  padding: 0.5em;
  width: 70%;
  border-radius: 15px;
}

.prompt #bakeryName {
  text-align: center;
  width: 70%;
  font-family: var(--text);
}

.buttonDisplay {
  width: 40%;
  display: flex;
  justify-content: space-around;
}

.buttonDisplay .confirm {
  width: 50px;
}

.buttonDisplay .cancel {
  width: 50px;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 90;
  animation: fadeIn 1s;
}

/************************************* deuxieme bloc  **************************************************/

.shop {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/****************************** Upgrade */
.upgrade {
  display: flex;
  justify-content: space-around;
  margin-top: 1em;
  margin-bottom: 0.5em;
  background: var(--yellow-choco);
  border-radius: 8px;
  width: 90%;
  height: 100%;
}
.upgrade button {
  position: relative;
  color: var(--text-color);
  font-family: var(--main-title);
  margin: 0.5em;
  width:  5em;
  height: 5em;
  padding: 2em;
  border: none;
  border-radius: 8px;
}
.upgrade button.disabled {
  margin: 0.5em;
  width:  5em;
  height: 5em;
  padding: 2em;
  opacity: 0.3;
  border: none;
  border-radius: 8px;
}
#upgrade1 {
    background-image: url(./Maquettes/upgrade-1.png);
    background-size: 100%; 
}
#upgrade1cost{
    position: absolute;
    bottom: 0;
    left: 10%;
  }

#upgrade2 {
  background-image: url(/Maquettes/Upgrade-2.png);
  background-size: 100%;
}
#upgrade2cost{
    position: absolute;
    bottom: 0;
    left: 10%;
  }
#upgrade3 {
  background-image: url(/Maquettes/uppgrade-3.png);
  background-size: 100%;
}
#upgrade3cost{
    position: absolute;
    bottom: 0;
    left: 10%;
  }


/****************************** Worker */
.worker {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 1em 2em;
  border-radius: 15px;

  align-items: center;
}
.worker button {
  width: 95%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 0.5em 0.7em;
  height: 5em;
  border-radius: 15px;
  background: var(--choco-shade);
  color: #e9e9e9;
  font-family: var(--text);
  border: none;
}
.worker button.disabled{
  width: 95%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 0.5em 0.7em;
  height: 5em;
  border-radius: 15px;
  background: var(--choco-shade);
  color: #e9e9e9;
  font-family: var(--text);
  opacity: 0.5;
  border: none;
}
.worker img {
  margin-left: 0.5em;
  object-fit: contain;
  width: 3.5em;
  height: 3.5em;
  
}

.centerbutton {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.titlebutton {
  font-family: var(--main-title);
}
#curseurnb{
  font-family: var(--main-title);
  font-size: large;
}
#commisnb{
  font-family: var(--main-title);
  font-size: large;
}
#patissiernb{
  font-family: var(--main-title);
  font-size: large;
}
#chefnb{
  font-family: var(--main-title);
  font-size: large;
}
/******************* FOOTER ****************************/

footer {
  position:fixed;
  bottom:  0 ;
  background: var(--choco-shade);
  width: 100%;
  height: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.7em;
}
